.welcome-area {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url(../assets/images/wrongful-termination-banner.webp);
    background-position: 30%;
}

@media (max-width: 991px) {
    .welcome-area {
        background-attachment: unset;
        background-position: 67%;
        height: auto;
        min-height: 50vh;
        padding: 20px 0;
    }
}