.welcome-area {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../assets/images/wrongful-termination-banner.webp);
    background-position: 30%;
}

@media (max-width: 991px) {
    .welcome-area {
        background-attachment: unset;
        background-position: 67%;
    }
}

.accordion .accordion-content ul {
    padding-bottom: 0;
    list-style: none;
}

.accordion .accordion-content ul li {
    font-weight: 400;
    font-size: 16px;
    color: #424242;
    letter-spacing: 1px;
    margin-bottom: 8px;
    position: relative;
}

.accordion .accordion-content ul li:before {
    content: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201266.21%201097.8%22%3E%3Cdefs%3E%3Cstyle%3E%20%20%20%20%20%20.cls-1%20%7B%20%20%20%20%20%20%20%20fill%3A%20%23f16926%3B%20%20%20%20%20%20%20%20fill-rule%3A%20evenodd%3B%20%20%20%20%20%20%7D%20%20%20%20%20%20.cls-2%20%7B%20%20%20%20%20%20%20%20fill%3A%20%233e4967%3B%20%20%20%20%20%20%7D%20%20%20%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M525.68%2C584.07S767.91%2C83.58%2C1266.21%2C0c-289.84%2C139.88-458.26%2C313-664.06%2C786.11%2C0%2C0-22.19%2C54.45-62.9%2C66.84%2C0%2C0-45.04%2C14.15-79.35%2C21.2-11.06-74.59-111.26-355.69-267.32-419.75%2C39.22-49.55%2C244.35-100.24%2C333.1%2C129.66%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M98.59%2C95.62h787.06c-42.44%2C28.47-82.96%2C60.11-121.48%2C94.41H123.02c-7.84%2C0-14.98%2C3.23-20.18%2C8.43-5.2%2C5.2-8.43%2C12.35-8.43%2C20.18v756.14c0%2C7.83%2C3.23%2C14.98%2C8.43%2C20.18%2C5.2%2C5.2%2C12.35%2C8.43%2C20.18%2C8.43h756.14c7.83%2C0%2C14.98-3.23%2C20.18-8.43%2C5.2-5.2%2C8.43-12.34%2C8.43-20.18V349.8c29.19-37.32%2C60.54-72.77%2C94.41-105.77v755.18c0%2C27.15-11.08%2C51.8-28.93%2C69.66-17.85%2C17.85-42.51%2C28.93-69.66%2C28.93H98.59c-27.15%2C0-51.8-11.08-69.66-28.93-17.85-17.85-28.94-42.51-28.94-69.66V194.21c0-27.15%2C11.08-51.8%2C28.94-69.65%2C17.85-17.85%2C42.51-28.93%2C69.66-28.93%22%2F%3E%3C%2Fsvg%3E');
    position: absolute;
    width: 20px;
    height: 20px;
    left: -20px;
    top: 2px;
}