.welcome-area {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .2)), url(../assets/images/los-angeles.webp);
}

.welcome-area h1 {
    font-size: 40px !important;
}

.welcome-area h3 {
    color: #FFFFFF;
    font-size: 18px !important;
}

.welcome-area p {
    font-size: 17px !important;
}

@media (max-width: 991px) {
    .welcome-area {
        min-height: 80vh !important;
        background-position: center;
        max-height: unset;
    }

    .welcome-area h1 {
        font-size: 35px !important;
    }
}

.stars {
    background-image: url("../assets/images/star.png");
    background-size: 20%;
    height: 46px;
    width: 250px;
    display: block
}

a {
    color: #FFFF;
}

a span.text {
    border-bottom: 1px solid;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
}

a:hover span.text {
    color: rgb(242, 103, 36);
}

.recent-badges {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recent-badges img {
    max-width: 150px;
    max-height: 120px;
    object-fit: contain;
}

@media (max-width: 991px) {
    .recent-badges {
        justify-content: center;
    }

    .recent-badges img {
        margin: 10px;
    }
}